<mat-toolbar color="primary">
  <!--<button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>-->
  <a href="/books">
    <img ngSrc="https://cf.shopee.com.my/file/16c2cf2bda81175a18a41e068d972f0f" alt="logo" width="40" height="40">
  </a>
  <a href="/books" style="margin-left: 20px;">
    <span>Books</span>
  </a>
  <a href="/users" style="margin-left: 20px;">
    <span>Users</span>
  </a>

  <span class="example-spacer"></span>
  <button mat-icon-button (click)="logout()" class="example-icon favorite-icon"
          aria-label="Example icon-button with heart icon">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
