<div class="container">
  <app-main-tollbar></app-main-tollbar>

  <div class="content">
    <div class="user-list">
      <mat-card class="user-card" *ngFor="let user of users; let i = index">
        <img mat-card-image src="{{ images[i] }}" alt="{{user.userName}} avatar">
        <hr>
        <mat-card-title style="text-transform: capitalize">{{ user.userName }}</mat-card-title>
        <hr>
        <mat-card-title>Name: {{user.fullName}}</mat-card-title>
        <span class="spacer"></span>
        <mat-card-actions style="align-content: end">
          <div *ngIf="checked">Enabled:</div>
          <div *ngIf="!checked">Disabled:</div>
          <mat-slide-toggle style="margin-left: 10px" class="example-margin" [(ngModel)]="checked[i]">
          </mat-slide-toggle>
          <button mat-raised-button color="primary" style="margin-left: 10px" (click)="changeState(i)">Change</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
