.container {
  display: flex;
  flex-direction: column;
  background-color: #444;
  color: #fff;
}

mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #222;
}

mat-sidenav {
  width: 200px;
  background-color: #222;
  color: #fff;
}

.book-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  gap: 20px;
  width: 65%;
  margin: auto;
}

.book-card {
  max-width: 220px;
  background-color: #333;
  color: #ffffff;
  display: flex;
  flex-direction: column;
}

.active {
  background-color: #444;
}

.spacer {
  flex-grow: 1;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 5px;
  color: white;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.book-card hr {
  border: none;
  border-top: 1px solid white;
  margin: 10px 0;
}
